@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	max-width: 100vw;
	height: 100vh;
	font-family: "Poppins", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: #f5f2f0;
}

/* ######### Left Section ########## */

.left-section {
	position: relative;
}

.container img {
	height: 100vh;
}

.logo img {
	position: absolute;
	top: 5%;
	left: 4%;
	height: 5rem;

	filter: brightness(0);
}

/* ########## Right Section ######### */

/* ######## Navbar ########## */

.right-section {
	position: relative;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5rem;
}

.line {
	height: 0.16rem;
	width: 45rem;
	background-color: #000;
	margin-left: 4rem;
}

.list {
	list-style-type: none;

	display: flex;
}

.list-item {
	display: flex;
	align-items: center;

	font-size: 1.5rem;
	margin-right: 5rem;
	word-wrap: inherit;
}

.item1 {
	margin-left: 4rem;
}

/* ######## TEXT ######## */

.text-logo {
	display: flex;

	margin-left: 4rem;
	margin-top: 4rem;
}

.border {
	font-family: "Merriweather", sans-serif;
	font-size: 13rem;
	color: #fff;
	-webkit-text-stroke: 0.2rem #000;
}

.solid {
	font-family: "Merriweather", sans-serif;
	font-size: 13rem;
	color: #000;

	position: absolute;
	left: 13%;
	top: 30%;
}

.text-2 {
	font-size: 2.5rem;
	color: #7c7c7c;

	position: absolute;
	left: 61%;
	top: 38%;
}

.icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 5.2rem;

	position: absolute;
	right: 5rem;
	top: 13rem;
}

.icons img {
	height: 1.6rem;
}

.button button {
	border: none;
	padding: 1.8rem 8.3rem;
	color: #fff;
	background-color: #000;
	font-size: 1.8rem;

	position: absolute;
	left: 61%;
	top: 52%;
}

/* ######### Buttom Section ######### */

.buttom-section {
	display: flex;
}

.line-2 {
	display: flex;

	width: 0.1rem;
	height: 33vh;
	background-color: #000;
	margin-left: 4rem;
	margin-top: 21rem;
}

.photo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;

	position: absolute;
	left: 30.5px;
	bottom: 225px;
}

.p-g {
	height: 2rem;
	width: 2rem;
	background-color: #000;
	border-radius: 4rem;
}

.photo p {
	font-size: 2rem;
}

.whole-content {
	position: absolute;
	left: 32.5px;
	bottom: 3px;

	gap: 3rem;
}

.left-part {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 3.7rem;
	margin-bottom: 2rem;
}

.v-g {
	height: 1.5rem;
	width: 1.5rem;
	background-color: #7c7c7c;
	border-radius: 4rem;
	gap: 3rem;
}

.whole-para {
	position: absolute;
	left: 32.5px;
	bottom: 3px;

	gap: 3rem;
}

.para {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2.1rem;
	margin-bottom: 1.2rem;
	margin-left: 4.9rem;
}

.para p {
	font-size: 2rem;
}

.coma img {
	width: 4.5rem;

	position: absolute;
	bottom: 225px;
	left: 30rem;
}

.coma p {
	font-size: 1.5rem;
	position: absolute;
	bottom: 173px;
	left: 30rem;
	font-weight: 600;
}

.bottom-img img {
	width: 50rem;

	position: absolute;
	bottom: -173px;
}

.arrow img {
	height: 10rem;

	position: absolute;
	left: 88rem;
	bottom: 7rem;
}
